<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="validate" method="post" >
		<center style="background-color: blue;"><h1><b>User Login</b></h1></center>
		<center><label><b>Email:</b></label></center>
		<center><input type="email" name="email"/></center>
		<br>
		<center><label><b>Password:</b></label></center>
		<center><input type="password" name="password"/></center>
		<br>

		<center><input style="background-color: green" type="submit" value="Login"/></center>
	</form>

</body>
</html>