<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<h1><b><u>User Registration form</u></b></h1>
		<form action="register" method="post">
		<label><b>User name:</b></label>
		<input type="text" name="username"/>
		<br>
		<label><b>Email:</b></label>
		<input type="email" name="email"/>
		<br>
		<label<b>Password:</b></label>
		<input type="password" name="password"/>
		<br>
		<label><b>Gender:</b></label>
		M<input type="radio" name="gender" value="male">
		F<input type="radio" name="gender" value="female">
		O<input type="radio" name="gender" value="other">
		<br>
		<label><b>Role:</b></label>
		Admin<input type="radio" name="role" value="admin">
		Customer<input type="radio" name="role" value="customer">
		<br>
		<label><b>Address:</b></label>
		<textarea name="address"></textarea>
		<br>
		<input style="background-color: green" type="submit" value="Submit"/>
		
	</form>
	
	</div>

</body>
</html>